<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
    <p>
        Nome: {{project.name}}
    </p>
    <p>
        Template Type: {{project.template_type}}
    </p>
    <p>
        Created on: {{ project.created_on|date:"d/m/Y" }} 
        {{project.created}}
    </p>

    {% if not project.template_type%}
    <a href="{% url 'project:create_chats' project.uuid %}">
        <button>Integrar chats</button>
    </a>
    {% endif %}
</body>
</html>